<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/Rambo.css}" href="/css/Rambo.css" />
    <link rel="stylesheet" th:href="@{/css/header_UU.css}" href="/css/header_UU.css" />
    <link rel="stylesheet" th:href="@{/css/notation.css}" href="/css/notation.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css" />

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <title>Pokemon Perle</title>

</head>
<body>

<div id="wrap">

    <div th:replace="fragments/header_UU :: header"></div>

    <div class="content">
        <h1>Pokémon Perle</h1>
        <div class="resume">
            <div id="noteAndImg">
                <img id="image" src="/img/004_gameplay_pokemon_platine.jpg"/>
                <div id="noteMoyenne" th:text="'Note du jeu : ' + ${game.note}"></div>
                <th:block th:if="${userNote}!=null">
                    <div id="noteUtilisateur" th:text="'Ta note : ' + ${userNote}"></div>
                </th:block>
                <th:block th:unless="${userNote}!=null">
                    <div id="noteUtilisateur">Tu n'as pas noté ce jeu</div>
                </th:block>
            </div>
            <div class="text">
                L'action de Pokémon Diamant et Perle se déroule à Sinnoh, basée sur la région japonaise d'Hokkaido. Insulaire, elle est constituée de quatorze villes peuplées par des humains et de routes terrestres et maritimes qui les relient entre elles. Chaque zone géographique de la région est habitée par différentes espèces de créatures appelées Pokémon.

                Si le joueur prend le personnage masculin, Louka de Bonaugure est le protagoniste de Pokémon Diamant et Perle, sinon ce sera Aurore, le protagoniste féminin et personnage important de la série. Louka ou Aurore vit à Bonaugure (Twinleaf TownN 1), dans la région de Sinnoh. Un jour, alors qu'il/elle se promenait avec son meilleur ami Barry, il/elle tombe sur une mallette contenant des Poké balls. Tout d'un coup, des Étourmi les attaquent, lui/elle et Barry. Les deux enfants se servent d'un des Pokémon dans la mallette pour vaincre les Étourmi. Les Pokémon sont Tortipouss, Ouisticram et Tiplouf (Turtwig, Chimchar et Piplup). Le professeur Sorbier (Rowan), qui est le propriétaire des Pokémon, décide de le leur confier comme « Pokémon de départ »1.

                Tout au long du jeu, les deux personnages devront déjouer les plans maléfiques de la Team Galaxy, qui tente de s'approprier le Pokémon légendaire Dialga ou Palkia, selon la version, afin de créer un nouvel univers.
            </div>
        </div>

        <h3>Donne ta note à ce jeu ou modifie celle que tu as donnée ! Seuls les idiots ne changent pas d'avis ;)</h3>

        <form class="rating">
            <input type="hidden" th:value="${game.id}" name="gameId">
            <input type="radio" id="star5" name="rating" value="5"  onclick="applyNote();"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4.5" onclick="applyNote();"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" onclick="applyNote();"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3.5" onclick="applyNote();"/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" onclick="applyNote();"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2.5" onclick="applyNote();"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" onclick="applyNote();"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1.5" onclick="applyNote();"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" onclick="applyNote();"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="0.5" onclick="applyNote();"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </form>
<br>
        <div class="soluce">
            <div class="partie" >
                <h2 id="partie1">Partie 1 : De Bonaugure au premier badge</h2>
                <div class="tips" id="tip11">
                    <h3>Bonaugure</h3>
                </div>
                <div class="tips" id="tip11p">
                    <p> Vous êtes dans votre chambre, sortez de la maison pour rendre visite à votre rival qui vit dans l'autre maison à deux étages.
                        Il se dirige vers le lac mais retourne chez lui, allez le voir dans sa chambre puis suivez-le jusqu'à la sortie de la ville au nord.</p>
                </div>
                <div class="tips" id="tip12">
                    <h3>Route 201</h3>
                </div>
                <div class="tips" id="tip12p">
                    <p>Il vous attend pour aller au Lac Vérité où il espère trouver le Léviator rouge. Allez vers l'ouest. Aux abords du lac, vous apercevez le professeur Sorbier avec un(e) autre enfant (dans ma partie, c'est Aurore). Ils partiront mais oublieront une sacoche contenant des Pokémon. Choisissez alors votre Pokémon de départ : Tortipouss, de type plante, pour facilement battre les premières arènes, Tiplouf, de type eau, moins facile pour commencer et Ouisticram, de type feu, qui dévoilera son potentiel plus tard. Des Etourmi vous attaquent, ils sont faciles à battre quelque soit le Pokémon choisi.
                        Aurore revient alors prendre la malette et retourne à Bonaugure. Retournez au village rendre les Pokémon empruntés mais le professeur retourne à son laboratoire sans vous demander de les rendre. Vous retournez chez vous où votre mère vous offre les chaussures de sport pour courir en appuyant sur B. Retournez sur la route 201 et allez cette fois à l'est vers Littorella.</p>
                </div>
                <div class="tips" id="tip13">
                    <h3>Littorella</h3>
                </div>
                <div class="tips" id="tip13p">
                    <p>A l'entrée de Littorella, Aurore vous emmène au laboratoire où est déjà le rival. A l'intérieur, le professeur vous offre le Pokémon emprunté et vous propose de parcourir Sinnoh pour remplir votre pokédex d'informations sur les Pokémon rencontrés. Ainsi commence l'aventure !
                        Sortez du laboratoire, Aurore vous offre une visite de Littorella. Retournez ensuite rapidement voir votre mère pour la prévenir que vous allez partir quelques années parcourir toute la région pour devenir maître Pokémon. Elle vous donne le journal qui enregistrera les événements que vous avez réalisé récemment. Prenez ensuite le chemin de la route 202 au nord de Littorella.</p>
                </div>
                <div class="tips" id="tip14">
                    <h3>Route 202</h3>
                </div>
                <div class="tips" id="tip14p">
                    <p>Dès que vous sortez de Littorella, Aurore vous arrête pour vous apprendre à capturer un Pokémon et vous donne 5 Pokéballs. Continuez sur la route pour rejoindre Féli-Cité.
                    </p>
                </div>
                <div class="tips" id="tip15">
                    <h3>Féli-Cité</h3>
                </div>
                <div class="tips" id="tip15p">
                    <p>
                        A peine arrivé dans la ville, Aurore apparait et vous explique que la ville accueille une école de dresseurs Pokémon.
                        Féli-Cité accueille pas mal de bâtiments importants comme le centre d'échanges mondial, une chaîne de télévision et l'école de dresseurs. Allez d'ailleurs donner un colis à votre rival à l'école, c'est l'immeuble au toît rouge près de l'entrée. Le colis est en fait une carte qu'il vous offre.
                        En marchant dans la ville, vous rencontrez un homme qui vous donnera une Pokémontre (une montre multi-fonctions) si vous trouvez trois clowns dans la ville et que vous répondez correctement à leurs questions simplissimes. Le premier clown se trouve juste au dessus du Centre Pokémon, le deuxième clown se trouve devant le bâtiment avec l'écran géant en haut à gauche, le troisième et dernier clown se trouve un peu plus à gauche du deuxième. Retournez voir l'homme qui vous offrira effectivement la Pokémontre. L'écran du bas de la console laisse alors apparaitre l'heure. De nouvelles fonctions apparaitront au cours de l'aventure.
                        Sortez de Féli-Cité par l'est pour rejoindre la route 203.
                    </p>
                </div>
                <div class="tips" id="tip16">
                    <h3>Route 203</h3>
                </div>
                <div class="tips" id="tip16p">
                    <p>Votre rival vous attend de pied ferme pour en découdre. Son Pokémon est le Pokémon de type avantageux par rapport au votre.
                        Vaincu, il se dirigera vers Charbourg qui héberge la première arène du jeu. Suivez-le vers l'est jusqu'à un tunnel.
                    </p>
                </div>
                <div class="tips" id="tip17">
                    <h3>Entrée Charbourg</h3>
                </div>
                <div class="tips" id="tip17p">
                    <p>A l'entrée du tunnel, un montagnard vous offre la CS 06 Eclate-Roc pour briser certains rochers.
                        Continuez vers la droite, le reste de la grotte ne pourra être visité qu'avec le vélo plus tard. Vous ressortez à Charbourg.</p>
                </div>
                <div class="tips" id="tip18">
                    <h3>Charbourg</h3>
                </div>
                <div class="tips" id="tip18p">
                    <p>Un homme vous accueille pour vous montrer l'arène mais celle-ci est fermée. Votre rival vous explique que le champion est parti à la mine. Allez donc à la mine qui se situe au sud de la ville.</p>
                </div>
                <div class="tips" id="tip19">
                    <h3> Mine Charbourg</h3>
                </div>
                <div class="tips" id="tip19p">
                    <p>Des dresseurs et des Pokémon sauvages vous attendent dans la mine. Cherchez le champion qui est tout en bas pour qu'il retourne à son arène.
                        Retournez à Charbourg pour affronter le champion. L'arène est spécialisée dans les Pokémon du type roche. Les Pokémon eau et plante seront à l'aise, si vous avez pris le Pokémon du type feu, montez-le au niveau 14 pour évoluer et apprendre une attaque du type combat.
                        Dirigez-vous ensuite vers Féli-Cité pour continuer l'aventure !</p>
                </div>
            </div>

            <div class="partie">
                <h2 id="partie2">Partie 2 : Du second badge au troisième badge</h2>
                <div class="tips" id="tip2">
                    <h3>Tips 1</h3>
                </div>
                <div class="tips" id="tip2p">
                    <p>Et Ben on est nul ?</p>
                </div>
            </div>

            <div class="partie">
                <h2 id="partie3">Partie 3 : Du quatrième badge au sixième badge</h2>
                <div class="tips" id="tip3">
                    <h3>Tips 1</h3>
                </div>
                <div class="tips" id="tip3p">
                    <p>Et Ben on est nul ?</p>
                </div>
            </div>

            <div class="partie">
                <h2 id="partie4">Partie 4 : Du septième badge à la Ligue Pokémon</h2>
                <div class="tips" id="tip4">
                    <h3>Tips 1</h3>
                </div>
                <div class="tips" id="tip4p">
                    <p>Et Ben on est nul ?</p>
                </div>
            </div>

            <div class="partie">
                <h2 id="partie5">Partie 5 : Le Conseil des Quatre</h2>
                <div class="tips" id="tip5">
                    <h3>Tips 1</h3>
                </div>
                <div class="tips" id="tip5p">
                    <p>Et Ben on est nul ?</p>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/comments :: comments"></div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

<script type="text/javascript" src="/js/Resume.js"></script>
<script src="/js/notation.js" type="text/javascript"></script>
<script src="/js/commentaire.js" type="text/javascript"></script>
</body>
</html>

<link rel="stylesheet" href="/css/comment.css">