<th:block th:fragment="comments">

    <div class = "comments">
        <h1>Section commentaires :</h1>
        <input type="text" id="myComment">
        <input type="button" value="Publier" onclick="addComment();">
        <input type="hidden" th:value="${comments.size()}" name="commentsNumb">
        <th:block th:each="comment : ${comments}">
            <th:block th:if="${commentStat.count <= 4}" th:with="disp = 'block'">
                <div class="commentBlock" th:style="'display:'+${disp}+';'">
                    <input name="commentId" th:value="${comment.id}" class="invisible">
                    <div class="commentWriter">
                        <a  th:href="'/profil/' + ${comment.user.id}">
                            <div class="writerName" th:text="${comment.user.userName}"></div>
                        </a>
                        <div class="writerRank" th:text="${comment.user.rank}"></div>
                        <div class="writerPoints" th:text="${comment.user.points} + 'pts'"></div>
                        <a  th:href="'/profil/' + ${comment.user.id}">
                            <img class="writerAvatar" th:src="@{${comment.user.avatar}}">
                        </a>
                    </div>
                    <div class="commentContent" th:text="${comment.content}"></div>
                    <div class="commentDate" th:text="${comment.date}"></div>
                    <div class="invisible">
                        <div class="responseBlock" th:each="response : ${comment.getChildrenComment()}">
                            <input name="commentId" th:value="${response.id}" class="invisible">
                            <div class="responseWriter">
                                <a  th:href="'/profil/' + ${response.user.id}">
                                    <div class="writerName" th:text="${response.user.userName}"></div>
                                </a>
                                <div class="writerRank" th:text="${response.user.rank}"></div>
                                <div class="writerPoints" th:text="${response.user.points} + 'pts'"></div>
                                <a  th:href="'/profil/' + ${response.user.id}">
                                    <img class="writerAvatar" th:src="@{${response.user.avatar}}">
                                </a>
                            </div>
                            <div class="responseContent" th:text="${response.content}"></div>
                            <div class="responseDate" th:text="${response.date}"></div>
                            <th:block th:if="${user}!=null">
                                <div th:if="${user.userType.id==2 or user.userType.id==3}">
                                    <input type="button" name="eraseComment" value="X" class="buttonsbutton">
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="responseBlockWrite">
                        Ecrivez votre réponse ci-dessous :
                        <input type="text">
                        <input type="button" value="Publier" name="addResponse">
                    </div>
                    <div class = "buttons">
                        <th:block th:if="${comment.getChildrenComment().size() != 0}">
                            <input type="button" value="Afficher les réponses" name="showHideResponses" class="buttonsbutton">
                        </th:block>
                        <input type="button" value="Répondre" name="displayResponse" class="buttonsbutton">
                        <th:block th:if="${user}!=null">
                            <th:block th:if="${user.userType.id==2 or user.userType.id==3}">
                                <input type="button" name="eraseComment" value="X" class="buttonsbutton">
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </th:block>


            <!-- TREEEEEEEEEES MOCHE -->


            <th:block th:unless="${commentStat.count <= 4}" th:with="disp = 'none'">
                <div class="commentBlock" th:style="'display:'+${disp}+';'">
                    <input name="commentId" th:value="${comment.id}" class="invisible">
                    <div class="commentWriter">
                        <a  th:href="'/profil/' + ${comment.user.id}">
                            <div class="writerName" th:text="${comment.user.userName}"></div>
                        </a>
                        <div class="writerRank" th:text="${comment.user.rank}"></div>
                        <div class="writerPoints" th:text="${comment.user.points} + 'pts'"></div>
                        <a  th:href="'/profil/' + ${comment.user.id}">
                            <img class="writerAvatar" th:src="@{${comment.user.avatar}}">
                        </a>
                    </div>
                    <div class="commentContent" th:text="${comment.content}"></div>
                    <div class="commentDate" th:text="${comment.date}"></div>
                    <div class="invisible">
                        <div class="responseBlock" th:each="response : ${comment.getChildrenComment()}">
                            <input name="commentId" th:value="${response.id}" class="invisible">
                            <div class="responseWriter">
                                <a  th:href="'/profil/' + ${response.user.id}">
                                    <div class="writerName" th:text="${response.user.userName}"></div>
                                </a>
                                <div class="writerRank" th:text="${response.user.rank}"></div>
                                <div class="writerPoints" th:text="${response.user.points} + 'pts'"></div>
                                <a  th:href="'/profil/' + ${response.user.id}">
                                    <img class="writerAvatar" th:src="@{${response.user.avatar}}">
                                </a>
                            </div>
                            <div class="responseContent" th:text="${response.content}"></div>
                            <div class="responseDate" th:text="${response.date}"></div>
                            <th:block th:if="${user}!=null">
                                <div th:if="${user.userType.id==2 or user.userType.id==3}">
                                    <input type="button" name="eraseComment" value="X" class="buttonsbutton">
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="responseBlockWrite">
                        Ecrivez votre réponse ci-dessous :
                        <input type="text">
                        <input type="button" value="Publier" name="addResponse">
                    </div>
                    <div class = "buttons">
                        <th:block th:if="${comment.getChildrenComment().size() != 0}">
                            <input type="button" value="Afficher les réponses" name="showHideResponses" class="buttonsbutton">
                        </th:block>
                        <input type="button" value="Répondre" name="displayResponse" class="buttonsbutton">
                        <th:block th:if="${user}!=null">
                            <th:block th:if="${user.userType.id==2 or user.userType.id==3}">
                                <input type="button" name="eraseComment" value="X" class="buttonsbutton">
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </th:block>
        <input type="button" class="showHideComments" name="6" value="Afficher plus de commentaires">
    </div>
</th:block>