<th:block th:fragment="footer">
    <div class="menu-footer">
        <a href="/droitsréservés">
            <div class="footerButton">
                Tous droits réservés
            </div>
        </a>
        <a href="/conditions">
            <div class="footerButton">
                Conditions d'utilisations
            </div>
        </a>
        <a href="/contact">
            <div class="footerButton">
                Nous contacter
            </div>
        </a>
        <a href="/réseaux">
            <div class="footerButton">
                Nos réseaux
            </div>
        </a>

    </div>
</th:block>
