<div th:fragment="footer">
    <div class="menu-footer">
        <a href="">
            <div class="J1">
                Tous droits réservés
            </div>
        </a>
        <a href="conditions">
            <div class="J2">
                Conditions d'utilisations
            </div>
        </a>
        <a href="">
            <div class="autres">
                Nous contacter
            </div>
        </a>
        <a href="">
            <div class="profil">
                Nos réseaux
            </div>
        </a>

    </div>
</div>
