
<div th:fragment="header">
    <div class="header-haut">
        <a href="/accueil"><img src="/img/PQCNprojet.png" id="logo"/></a>
        <div class="infos">
            <h2>Venez vous amuser avec nous !</h2>
        </div>
        <div class="menu-header">
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
                <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
            </a>
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
                <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
            </a>
            <a class="headerButtonA" href="/game">
                <div class="headerButtonDiv">
                    Autres
                </div>
            </a>
            <th:block th:if="${user}!=null">
                <th:block th:if="${user.userType.id}==2 or ${user.userType.id}==3">
                    <a class="headerButtonA" href="/adminPage">
                        <div class="headerButtonDiv">
                            Gestion du site
                        </div>
                    </a>
                </th:block>
            </th:block>
            <a class="headerButtonA" th:href="${destination}" id="button3">
                <th:block th:if="${destination}=='/profil'">
                    <img th:src="@{${avatar}}" class="avatarHeader">
                </th:block>
                <div class="headerButtonDiv" th:text="${isConnected}">
                </div>
            </a>
        </div>
    </div>

    <div th:if="${isConnected == 'Profil'}">
        <a th:href="@{'/disconnect'}">Deconnexion</a>
    </div>
</div>

<div th:fragment="headerProfil">
    <div class="header-haut">
        <a href="/accueil"><img src="/img/PQCNprojet.png" id="logo"/></a>
        <div class="infos">
            <h2>Venez vous amuser avec nous !</h2>
        </div>
        <div class="menu-header">
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
                <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
            </a>
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
                <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
            </a>
            <a class="headerButtonA" href="/game">
                <div class="headerButtonDiv">
                    Autres
                </div>
            </a>
            <th:block th:if="${user}!=null">
                <th:block th:if="${user.userType.id}==2 or ${user.userType.id}==3">
                    <a class="headerButtonA" href="/adminPage">
                        <div class="headerButtonDiv">
                            Gestion du site
                        </div>
                    </a>
                </th:block>
            </th:block>
            <th:block th:if="${destination}=='/profil'">
                <a class="headerButtonA" th:href="${destination}" id="button3">
                    <img th:src="@{${avatar}}" class="avatarHeader">
                    <div class="headerButtonDiv" th:text="${isConnected}">
                    </div>
                </a>
            </th:block>
            <th:block th:unless="${destination}=='/profil'">
                <a class="headerButtonA" th:href="${destination}" id="button3">
                    <div class="headerButtonDiv" th:text="${isConnected}">
                    </div>
                </a>
            </th:block>

        </div>
    </div>

    <th:block th:if="${myProfile}=='me'">
        <a th:href="@{'/disconnect'}">Deconnexion</a>
    </th:block>
</div>

<div th:fragment="headerConnection">
    <div class="header-haut">
        <a href="/accueil"><img src="/img/PQCNprojet.png" id="logo"/></a>
        <div class="infos">
            <h2>Venez vous amuser avec nous !</h2>
        </div>
        <div class="menu-header">
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
                <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
            </a>
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
                <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
            </a>
            <a class="headerButtonA" href="/game">
                <div class="headerButtonDiv">
                    Autres
                </div>
            </a>
            <a class="headerButtonA" href="/connection">
                <div class="headerButtonDiv">
                    Connexion / Inscription
                </div>
            </a>
        </div>
    </div>
</div>