.jaquette{
    width: 50%;
    align-self: center;
    margin: 2%;
}

body{
    background-image: url("https://wallpaperplay.com/walls/full/b/3/8/183091.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.content{
    background-color: rgba(237,237,237,0.9) ;
    margin-top :2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 4px #9E0E40;
}

.content h1{
    color: #720c2b ;
    font-weight: bold;
    font-size: 250%;
}
.content h2{
    font-weight: bold;
}

.content label{
    color: #a40f37 ;
    font-weight: bold;
}

img{
    width: 25%;
    height: auto;
}

.pageAvatars{
    height: 10%;
    width:auto;
}

table{
    border-collapse: collapse;
    word-break: break-all;
}

th, td{
    border: solid #404040 2px;
}

tbody td{
    padding: 10px;
}

tbody tr:nth-child(odd){
    background-color: #a8aba2;
    color: #720c2b;
}

tbody tr:nth-child(even){
    background-color: #ffffff;
    color: #720c2b;
}

tbody:nth-child(1n) :hover{
    background-color: #9E0E40;
    color: #ffffff;
}

tbody{
    display: block;
}

#changeMomentGames{
    margin: 2%;
    display: flex;
    /*flex-direction: column;*/
    align-items: stretch;
}

.momentGameDiv{
    background-color: #a8aba2;
    margin: 1%;
    padding: 2%;
    width: 50%;
    /*align-self: center;*/
    justify-content: space-between;
    display: flex;
    color: #9E0E40;
    font-weight: bold;
    flex-direction: column;
    border-bottom: solid 6px #9E0E40;
    border-top: solid 6px #9E0E40;
}

.momentGameDiv:hover{
    border-bottom: solid 6px #C72C48;
    border-top: solid 6px #C72C48;
}

.momentGameDiv div{
    font-size: 2em;
}

.changeMomentGame{
    margin: 2%;
    width: 50%;
    align-self: center;
}

.subMomentGame{
    padding: 2%;
    background-color: #9E0E40;
    opacity: inherit;
    color: white;
}

#manageUsers{
    margin: 2%;
    display: flex;
    /*flex-direction: column;*/
}

.partTitle {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin: 1%;
    background-color: #a40f37;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.partTitle:hover{
    background-color: #C72C48;
}
