body{
    background-image: url("https://i.pinimg.com/originals/06/cb/fb/06cbfb2ecad06df5599d9db0bfe4332b.jpg") ;
    background-attachment: fixed;
    height: 100%;
}
#wrap{
    min-height: 100%;
    position: relative;
}

.content{
    background-color: #ededed;
    border-radius: 19px;
    margin :2%;
    padding: 1%;
    opacity: 0.8;
    padding-bottom: 10px;
    position: relative;
}

.resume{
    display: flex;
    justify-content: space-between;
}

.resume img{
    width: 10%;
    height: 10%;
}

.resume .text{
    text-align: justify;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 100%;
}

.content h1{
    color: #720c2b ;
    font-weight: bold;
    font-size: 250%;
}

.content h2{
    color: #a40f37 ;
    font-weight: bold;
    width: 20%;
}

.content h3{
    color : #323232;
    font-size: 130%;
}
.tips{
    display: none;
}
