.header-haut{
    background-color: #323232;
    display: flex;
    width:100%;
    border-bottom: solid #9E0E40 5px;
    align-items: stretch;
}

html, body{
    height: 100%;
    font-family: "Gill Sans", sans-serif;
}

#logo{
    width: 80%;
    margin: 2%;
    align-self: center;
}

.header-haut a{
    width: 20%;
    justify-content: center;
    display: flex;
}

.infos{
    align-self: center;
    text-align: center;
    color: white;
}

.menu-header {
    display: flex;
    width: 100%;
    margin-left: 2%;
    height: 50%;
    align-self: center;

}

.menu-header div a div {
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.menu-header a div {
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.menu-header div a:hover {
    background-color: #720c2b;
}

.menu-header a:hover {
    background-color: #720c2b;
}


.menu-header .headerButtonA {
    border: solid 3px #101010;
    width: 200%;
    padding: 2%;
    text-decoration : none;
    display: flex;
    background-color: #720c2b;
}

.menu-header .headerButtonDiv {
    color: white;
    font-size: 100%;
    font-weight: bold;
    align-self: center;
}

.menu-header .headerButtonA:hover{
    background-color: #9E0E40;
}

.avatarHeader{
    width: 25%;
    height: auto;
    border-style: solid;
    border-color: #720c2b;
}

#button3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}

#wrap{
    width: 100%;
}

#disconnect{
    background-color: #323232;
    display: flex;
    justify-content: center;
    width: 10%;
    height: 4%;
    margin-left: 1%;
}

#disconnect div {
    align-self: center;
    text-decoration: none;
    color: white;
    border-left: 4px #9E0E40;
}

#disconnect:hover{
    background-color: #404040;
}