body{
    background-image: url("https://images.alphacoders.com/789/thumb-1920-789452.jpg");
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    box-sizing: content-box;
}

#wrap{
    box-sizing: content-box;
}

.content{
    background-color: #ededed;
    margin :2%;
    padding: 1%;
    opacity: 0.9;
    display: flex;
    justify-content:space-evenly;
    border: solid 4px #9E0E40;
}

.content h1{
    color: #720c2b ;
    font-weight: bold;
    font-size: 250%;
}

.content label{
    color: #a40f37 ;
    font-weight: bold;
}

input {
    justify-content: center;
    background-color: #a8aba2;
}

.label{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-top: 7%;
    width: 105%;
}

.submit{
    margin-top: 5%;
}

.infos{
    color: white;
}

.subform{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-bottom: 2%;
}

.signinform{
    display: flex;
    flex-direction: column;
    width: 15%;
}

#sep{
    background-color: #9E0E40;
    width: 1%;
}

#sep:hover{
    background-color: #C72C48;
}

.fail{
    font-style: italic;
    color: #a40f37;
}