body{
    background-image: url("https://images3.alphacoders.com/227/227475.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

#wrap{
    min-height: 100%;
    position: relative;
}

.content{
    border-radius: 19px;
    margin:2%;
    padding: 1%;
    opacity: 0.9;
    height: 100%;
    padding-bottom: 10px;
    position: relative;
    background-color: white;
}

.content h1{
    color: #720c2b ;
    font-weight: bold;
    font-size: 250%;
}
.content form label{
    font-weight: bold;
    color: #a40f37 ;
}