body{
    background-image: url("https://wallpaperplay.com/walls/full/b/3/8/183091.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.content{
    background-color: #ededed;
    margin :2%;
    padding: 2%;
    opacity: 0.9;
    padding-bottom: 10px;
    position: relative;
    border: #9E0E40 solid 4px;
    width: 40%;
}

.content h1{
    color: #720c2b ;
    font-weight: bold;
    font-size: 250%;
}
.content h2{
    font-weight: bold;
}

.content label{
    font-weight: bold;
}

.avatar{
    height: 150px;
    width: auto;
}

.modifInfosForm{
    display: none;
}

.personalInfosForm{
    display:none;
}

.jaquette{
    width:20%;
    height: auto;
}

.infoss{
    color: black;
    display: flex;
}

.infosinfos{
    margin-left: 2%;
}

.infosinfos .name{
    color: #9E0E40;
}

.infosimages{
    width: 50%;
    align-self: center;
}