<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/accueil.css}" href="/css/accueil.css" />
    <link rel="stylesheet" th:href="@{/css/header_UU.css}" href="/css/header_UU.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css" />

    <title>Accueil</title>
</head>
<body>

<div id =wrap>

    <div th:replace="fragments/header_UU :: header"></div>

    <div class="content">
        <h1>Bienvenue chez nous !</h1>
        <div class="nous">
            <h2>PCQN quoi ?</h2>
            <p>Finir un jeu n'aura jamais été aussi facile !<p>
            <p>PQCN te propose de t'accompagner dans tes aventures jeux-vidéoludiques. Bloqué à un niveau ? Pas de problème ! Cherche ton jeu dans notre base de données et lis les solutions et astuces rédigées par notre équipe. Tu pourras même discuter avec d'autres passionnés !</p>
            <p>Alors n'hésite plus et rejoins notre communauté !</p>
        </div>
        <div class="jeu">
            <h2>Venez découvrir nos dernières soluces !</h2>
            <div class="jeux">
                <div class="jeu1">
                    <a th:href="@{'/game/' + ${momentGame1.id}}">
                        <img th:src="@{${momentGame1.box}}">
                    </a>
                </div>
                <div class="jeu2">
                    <a th:href="@{'/game/' + ${momentGame2.id}}">
                        <img th:src="@{${momentGame2.box}}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>