<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>

    <link rel="stylesheet" th:href="@{/js/Resume.js}" href="/js/Resume.js" />
    <link rel="stylesheet" th:href="@{/css/inscription.css}" href="/css/inscription.css" />
    <link rel="stylesheet" th:href="@{/css/header_UU.css}" href="/css/header_UU.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css" />

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/connection.js"></script>
</head>
<body>

<div id="wrap">

    <div th:replace="fragments/header_UU :: headerConnection"></div>

    <div class="content">
        <form class="signinform" action="#" th:action="@{/connection}" th:object="${connection}" method="post">
            <h1>Se connecter</h1>
            <div class="label">
                <label for="emailConnect">Email : </label>
                <input type="email" th:field="*{email}" class="email" id="emailConnect">
            </div>
            <div class="label">
                <label for="passwordConnect">Mot de passe : </label>
                <input type="password" th:field="*{password}" class="password" id="passwordConnect">
            </div>
            <br>
            <input type="submit" value="Se connecter" class="submit">
        </form>

        <form class="subform" action="#" th:action="@{/inscription}" th:object="${connection}" method="post">
            <h1>S'inscrire</h1>
            <div class="label">
                <label for="emailSub">Email : </label>
                <input type="email" th:field="*{email}" class="email" id="emailSub">
                <div id="emailFailed" class="fail"></div>
            </div>
            <div class="label">
                <label for="passwordSub">Mot de passe : </label>
                <input type="password" th:field="*{password}" class="password" id="passwordSub">
            </div>
            <div class="label">
                <label for="passwordVerif">Confirmer votre mot de passe : </label>
                <input type="password" class="password" id="passwordVerif">
                <div id="passwordFailed" class="fail"></div>
            </div>
            <div class="label">
                <label for="usernameSub">Username : </label>
                <input type="text" th:field="*{username}" class="username" id="usernameSub">
                <div id="userNameFailed" class="fail"></div>
            </div>
            <br>
            <input type="button" value="S'inscrire" id="submit" onclick="submitSub();">
        </form>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>