<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/gameList.css}" href="/css/gameList.css" />
    <link rel="stylesheet" th:href="@{/css/header_UU.css}" href="/css/header_UU.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css" />
    <title>Les jeux</title>
</head>
<body>

<div id =wrap>

    <div class="header-haut">
        <a href="/accueil"><img src="/img/PQCNprojet.png"/></a>
        <div class="infos">
            <h2>Venez vous amusez avec nous !</h2>
        </div>
        <div class="menu-header">
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
                <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
            </a>
            <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
                <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
            </a>
            <a class="headerButtonA" href="/game">
                <div class="headerButtonDiv">
                    Autres
                </div>
            </a>
            <a class="headerButtonA" th:href="${destination}">
                <div class="headerButtonDiv" th:text="${isConnected}">
                </div>
            </a>


        </div>
    </div>

    <div th:if="${isConnected == 'Profil'}">
        <a th:href="@{'/disconnect'}">Deconnexion</a>
    </div>

    <div class="content">
        <table>
            <tr>
                <th>NOM</th>
                <th>EDITEUR</th>
                <th>NOTE</th>
            </tr>
            <tr th:each="game : ${games}">
                <td>
                    <a th:href="@{'/game/' + ${game.id}}">
                        <div th:text="${game.name}"></div>
                    </a>
                </td>
                <td th:text="${game.editeur}"></td>
                <td>
                    <div th:text="${game.note}"></div>
                </td>
                <td>
                    <img th:src="@{${game.box}}">
                </td>
            </tr>
        </table>
    </div>

    <div class="menu-footer">
        <a href="">
            <div class="J1">
                Tous droits réservés
            </div>
        </a>
        <a href="conditions.html">
            <div class="J2">
                Conditions d'utilisations
            </div>
        </a>
        <a href="">
            <div class="autres">
                Nous contacter
            </div>
        </a>
        <a href="">
            <div class="profil">
                Nos réseaux
            </div>
        </a>

    </div>
</div>

</body>
</html>