<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/modifiermotdepasse.css" />
    <link rel="stylesheet" href="../static/css/header_UU.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <title>Modifier votre mot de passe</title>
</head>
<body>

<div class="header-haut">
    <a href="../accueil.html"><img src="../../static/img/PQCNprojet.png"/></a>
    <div class="infos">
        <h2>Venez vous amusez avec nous !</h2>
    </div>
    <div class="menu-header">
        <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
            <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
        </a>
        <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
            <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
        </a>
        <a class="headerButtonA" href="/game">
            <div class="headerButtonDiv">
                Autres
            </div>
        </a>
        <a class="headerButtonA" th:href="${destination}">
            <div class="headerButtonDiv" th:text="${isConnected}">
            </div>
        </a>
    </div>
</div>

<div class="content">
    <form>
        <label>Ancien mot de passe : </label>
        <input type="password" class="password">
        <label>Nouveau mot de passe : </label>
        <input type="password" class="newpassword">

    </form>



</div>

<div class="menu-footer">
    <a href="">
        <div class="J1">
            Tous droits réservés
        </div>
    </a>
    <a href="conditions.html">
        <div class="J2">
            Conditions d'utilisations
        </div>
    </a>
    <a href="">
        <div class="autres">
            Nous contacter
        </div>
    </a>
    <a href="">
        <div class="profil">
            Nos réseaux
        </div>
    </a>

</div>

</body>
</html>