<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/js/Resume.js}" href="/js/Resume.js" />
    <link rel="stylesheet" th:href="@{/css/profil.css}" href="/css/profil.css" />
    <link rel="stylesheet" th:href="@{/css/header_UU.css}" href="/css/header_UU.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css" />

    <title>Profil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="header-haut">
    <a href="/accueil"><img src="/img/PQCNprojet.png"/></a>
    <div class="infos">
        <h2>Venez vous amuser avec nous !</h2>
    </div>
    <div class="menu-header">
        <a class="headerButtonA" th:href="@{'/game/' + ${momentGame1.id}}">
            <div class="headerButtonDiv" th:text="${momentGame1.name}"></div>
        </a>
        <a class="headerButtonA" th:href="@{'/game/' + ${momentGame2.id}}">
            <div class="headerButtonDiv" th:text="${momentGame2.name}"></div>
        </a>
        <a class="headerButtonA" href="gameList.html">
            <div class="headerButtonDiv">
                Autres
            </div>
        </a>
        <a class="headerButtonA" href="profil.html">
            <div class="headerButtonDiv">
                Profil
            </div>
        </a>
    </div>
</div>

<a th:href="@{'/disconnect'}">Deconnexion</a>

<div class="content">
    <h1>Votre Profil : </h1>
    <div class="you">
        <div class="infos">
            <h2 class="name" th:text="${name}" >Coucou</h2>
            <h2 class="email" th:text="${email}"> Hey </h2>
            <button value="Modifier mon mot de passe"></button>
        </div>
    </div>
</div>

<div class="menu-footer">
    <a href="">
        <div class="J1">
            Tous droits réservés
        </div>
    </a>
    <a href="conditions.html">
        <div class="J2">
            Conditions d'utilisations
        </div>
    </a>
    <a href="">
        <div class="autres">
            Nous contacter
        </div>
    </a>
    <a href="">
        <div class="profil">
            Nos réseaux
        </div>
    </a>

</div>

</body>
</html>